#
# Performance and power efficiency
#
CONFIG_SCHED_CLUSTER=y
CONFIG_PM_WAKELOCKS=y
CONFIG_WQ_POWER_EFFICIENT_DEFAULT=y
CONFIG_CPU_FREQ_DEFAULT_GOV_ONDEMAND=y
CONFIG_XZ_DEC_ARM=y
CONFIG_XZ_DEC_ARMTHUMB=y

#
# Needed for Waydroid support
#
CONFIG_ANDROID_BINDER_IPC=y
CONFIG_ANDROID_BINDERFS=y
CONFIG_ANDROID_BINDER_DEVICES="binder,hwbinder,vndbinder"

#
# Debugging options
#
CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PROC=y
CONFIG_PSTORE=y
CONFIG_PSTORE_RAM=y
CONFIG_PSTORE_CONSOLE=y
CONFIG_PSTORE_PMSG=y
CONFIG_PSTORE_FTRACE=y
CONFIG_DEBUG_INFO_NONE=y
CONFIG_MAGIC_SYSRQ_SERIAL=n
CONFIG_PANIC_ON_OOPS=y
CONFIG_PANIC_TIMEOUT=-1
CONFIG_WQ_WATCHDOG=y
CONFIG_SCHED_DEBUG=n

#
# Needed for support of Qualcomm-based modems (so all modems, really)
#
CONFIG_QRTR=m
CONFIG_QRTR_MHI=m

#
# Support flash LEDs for cameras
#
CONFIG_V4L2_FLASH_LED_CLASS=m
CONFIG_LEDS_CLASS_FLASH=m

#
# CMA & dmabuf support for camera devices
#
CONFIG_CMA_SIZE_MBYTES=256
CONFIG_DMABUF_MOVE_NOTIFY=y
CONFIG_DMABUF_HEAPS=y
CONFIG_DMABUF_HEAPS_SYSTEM=y
CONFIG_DMABUF_HEAPS_CMA=y

#
# Generic USB features
#
CONFIG_USB_NET_DRIVERS=m
CONFIG_USB_OTG=y
CONFIG_U_SERIAL_CONSOLE=y
CONFIG_USB_CDC_COMPOSITE=m
CONFIG_USB_G_MULTI=m
CONFIG_USB_G_MULTI_CDC=y
CONFIG_USB_G_HID=m
CONFIG_USB_G_DBGP=m

#
# Misc options
#
CONFIG_FRAMEBUFFER_CONSOLE_DEFERRED_TAKEOVER=y

#
# Remove unused features/subsystems
#
CONFIG_EFI=n
CONFIG_CHROME_PLATFORMS=n
CONFIG_XEN=n
CONFIG_CAN=n
CONFIG_GOOGLE_FIRMWARE=n
CONFIG_HYPERV=n
CONFIG_INFINIBAND=n
CONFIG_CORESIGHT=n
# Avoid making HDMI an input device
CONFIG_MEDIA_CEC_RC=n
