# Qualcomm Snapdragon SDM670 config fragment

# SoC
CONFIG_INTERCONNECT_QCOM_OSM_L3=y
CONFIG_INTERCONNECT_QCOM_SDM670=y
CONFIG_I2C_QCOM_GENI=y
CONFIG_QCOM_BAM_DMA=y
CONFIG_QCOM_GPI_DMA=y
CONFIG_PINCTRL_SDM670=y
CONFIG_PINCTRL_SDM670_LPASS_LPI=y

# Clocks
CONFIG_SDM_CAMCC_845=y
CONFIG_SDM_GPUCC_845=y
CONFIG_SDM_VIDEOCC_845=y
CONFIG_SDM_DISPCC_845=y
CONFIG_SDM_LPASSCC_845=y

# Pixel 3a/3a XL panel driver
CONFIG_DRM_PANEL_NOVATEK_NT37700F=m
CONFIG_DRM_PANEL_SAMSUNG_S6E3FA7=m
CONFIG_DRM_PANEL_SAMSUNG_SOFEF00_BONITO=m

# Touchscreen
CONFIG_RMI4_I2C=m
CONFIG_RMI4_SPI=m
CONFIG_RMI4_SMB=m

# Haptics
CONFIG_INPUT_DRV2624_HAPTICS=m

# Modem
CONFIG_RMNET=m
CONFIG_QCOM_SMEM=y
CONFIG_QCOM_MODEMSMEM=y

# Sound
CONFIG_SND_SOC_SDM660_INT=m
CONFIG_SND_SOC_QDSP6_Q6VOICE=m
CONFIG_SND_SOC_CS35L36=m
CONFIG_SND_SOC_RT5514=m
CONFIG_SND_SOC_RT5514_SPI=m

# Storage
CONFIG_SCSI_UFS_BSG=y

# Camera
CONFIG_MEDIA_PLATFORM_SUPPORT=y
CONFIG_VIDEO_IMX355=m
CONFIG_VIDEO_IMX363=m

# GPU is connected to refgen on linux-next
CONFIG_REGULATOR_QCOM_REFGEN=m

# Flash LED
CONFIG_LEDS_QCOM_FLASH=m

# Remoteproc
CONFIG_SLIMBUS=m
CONFIG_REMOTEPROC_CDEV=y

# Battery
CONFIG_BATTERY_QCOM_FG=m
CONFIG_QCOM_SPMI_RRADC=m

# Brightness Control
CONFIG_REGULATOR_QCOM_LABIBB=m
CONFIG_BACKLIGHT_QCOM_WLED=m

###########################################################################
#
# Disable unused options to minimize kernel size
#
###########################################################################

# Makes the Pixel 3a crash on boot (or soon after displaying the greeter)
CONFIG_INIT_ON_ALLOC_DEFAULT_ON=n

#
# Remove unused features/subsystems
#
CONFIG_EXPERT=n
CONFIG_ACPI=n
CONFIG_ATA=n
CONFIG_PCI=n

#
# CPU IDLE has to be explicitly enabled here,
# because previously it was selected by
# CONFIG_ACPI, which is off now
#
CONFIG_CPU_IDLE=y

#
# Remove unused platforms
#
CONFIG_ARCH_ACTIONS=n
CONFIG_ARCH_ALPINE=n
CONFIG_ARCH_APPLE=n
CONFIG_ARCH_BCM=n
CONFIG_ARCH_BERLIN=n
CONFIG_ARCH_BITMAIN=n
CONFIG_ARCH_EXYNOS=n
CONFIG_ARCH_SPARX5=n
CONFIG_ARCH_K3=n
CONFIG_ARCH_LG1K=n
CONFIG_ARCH_HISI=n
CONFIG_ARCH_KEEMBAY=n
CONFIG_ARCH_MEDIATEK=n
CONFIG_ARCH_MESON=n
CONFIG_ARCH_MVEBU=n
CONFIG_ARCH_NXP=n
CONFIG_ARCH_LAYERSCAPE=n
CONFIG_ARCH_MXC=n
CONFIG_ARCH_S32=n
CONFIG_ARCH_MA35=n
CONFIG_ARCH_NPCM=n
CONFIG_ARCH_REALTEK=n
CONFIG_ARCH_RENESAS=n
CONFIG_ARCH_ROCKCHIP=n
CONFIG_ARCH_SEATTLE=n
CONFIG_ARCH_INTEL_SOCFPGA=n
CONFIG_ARCH_STM32=n
CONFIG_ARCH_SUNXI=n
CONFIG_ARCH_SYNQUACER=n
CONFIG_ARCH_TEGRA=n
CONFIG_ARCH_SPRD=n
CONFIG_ARCH_THUNDER=n
CONFIG_ARCH_THUNDER2=n
CONFIG_ARCH_UNIPHIER=n
CONFIG_ARCH_VEXPRESS=n
CONFIG_ARCH_VISCONTI=n
CONFIG_ARCH_XGENE=n
CONFIG_ARCH_ZYNQMP=n
