CONFIG_CPU_IDLE=y
CONFIG_TOUCHSCREEN_HIMAX_CHIPSET=y
CONFIG_TOUCHSCREEN_HIMAX_COMMON=y
CONFIG_TOUCHSCREEN_HIMAX_IC_HX83112=y
CONFIG_TOUCHSCREEN_HIMAX_DEBUG=y
CONFIG_TOUCHSCREEN_HIMAX_INSPECT=y
CONFIG_MEDIA_PLATFORM_SUPPORT=y
CONFIG_DRM_PANEL_HIMAX_HX83112A=m
CONFIG_BACKLIGHT_QCOM_WLED=y
CONFIG_LEDS_QCOM_FLASH=m
CONFIG_PAGE_REPORTING=y
CONFIG_BATTERY_QCOM_QG=y
CONFIG_REGULATOR_QCOM_REFGEN=y
CONFIG_MEDIA_SUPPORT_FILTER=y
CONFIG_VIDEO_DEV=m
CONFIG_VIDEO_V4L2_I2C=y
CONFIG_VIDEO_V4L2_SUBDEV_API=y
CONFIG_V4L2_FWNODE=m
CONFIG_V4L2_ASYNC=m
CONFIG_V4L2_CCI=m
CONFIG_V4L2_CCI_I2C=m
CONFIG_MEDIA_PLATFORM_DRIVERS=y
CONFIG_VIDEOBUF2_CORE=m
CONFIG_VIDEOBUF2_V4L2=m
CONFIG_VIDEOBUF2_MEMOPS=m
CONFIG_VIDEOBUF2_DMA_SG=m
CONFIG_MEDIA_HIDE_ANCILLARY_SUBDRV=y
CONFIG_VIDEO_CAMERA_SENSOR=y
CONFIG_VIDEO_IMX576=m
CONFIG_VIDEO_IMX582=m
CONFIG_VIDEO_CAMERA_LENS=y
CONFIG_SND_SOC_USB=m
CONFIG_SND_SOC_QCOM_OFFLOAD_UTILS=m
CONFIG_SND_SOC_QDSP6_USB=m
CONFIG_PINCTRL_SM6350=y
CONFIG_SM_CAMCC_6350=y
CONFIG_SM_DISPCC_6350=m
CONFIG_SM_GPUCC_6350=y
CONFIG_INTERCONNECT_QCOM_SM6350=y


###########################################################################
#
# Disable unused options to minimize kernel size
#
###########################################################################

#
# Remove unused features/subsystems
#
CONFIG_ATA=n
CONFIG_PCI=n
CONFIG_EXPERT=n
CONFIG_VIRTUALIZATION=n
CONFIG_KVM=n
CONFIG_DRM_ETNAVIV=n
CONFIG_DRM_HISI_KIRIN=n
CONFIG_DRM_LIMA=n
CONFIG_DRM_PANFROST=n
CONFIG_DRM_PANTHOR=n
CONFIG_DRM_TIDSS=n


#
# Remove unused platforms
#

CONFIG_ARCH_SUNXI=n
CONFIG_ARCH_BCM=n
CONFIG_ARCH_BCM2835=n
CONFIG_ARCH_EXYNOS=n
CONFIG_ARCH_K3=n
CONFIG_ARCH_HISI=n
CONFIG_ARCH_MEDIATEK=n
CONFIG_ARCH_MESON=n
CONFIG_ARCH_MVEBU=n
CONFIG_ARCH_NXP=n
CONFIG_ARCH_LAYERSCAPE=n
CONFIG_ARCH_MXC=n
CONFIG_ARCH_RENESAS=n
CONFIG_ARCH_ROCKCHIP=n
CONFIG_ARCH_SEATTLE=n
CONFIG_ARCH_SYNQUACER=n
CONFIG_ARCH_TEGRA=n
CONFIG_ARCH_THUNDER=n
CONFIG_ARCH_THUNDER2=n
CONFIG_ARCH_VEXPRESS=n
CONFIG_ARCH_XGENE=n
CONFIG_ARCH_ZYNQMP=n
CONFIG_ARCH_RCAR_GEN3=n
CONFIG_ARCH_RCAR_GEN4=n
CONFIG_ARCH_RZG2L=n
CONFIG_ARCH_R8A774A1=n
CONFIG_ARCH_R8A774B1=n
CONFIG_ARCH_R8A774C0=n
CONFIG_ARCH_R8A774E1=n
CONFIG_ARCH_R8A77951=n
CONFIG_ARCH_R8A77960=n
CONFIG_ARCH_R8A77961=n
CONFIG_ARCH_R8A77965=n
CONFIG_ARCH_R8A77970=n
CONFIG_ARCH_R8A77980=n
CONFIG_ARCH_R8A77990=n
CONFIG_ARCH_R8A77995=n
CONFIG_ARCH_R8A779A0=n
CONFIG_ARCH_R8A779F0=n
CONFIG_ARCH_R8A779G0=n
CONFIG_ARCH_R8A779H0=n
CONFIG_ARCH_R9A07G043=n
CONFIG_ARCH_R9A07G044=n
CONFIG_ARCH_R9A07G054=n
CONFIG_ARCH_R9A08G045=n
CONFIG_ARCH_R9A09G011=n
CONFIG_ARCH_R9A09G047=n
CONFIG_ARCH_R9A09G056=n
CONFIG_ARCH_R9A09G057=n
CONFIG_ARCH_R9A09G077=n
CONFIG_ARCH_R9A09G087=n
CONFIG_ARCH_TEGRA_132_SOC=n
CONFIG_ARCH_TEGRA_210_SOC=n
